body{margin: 0px;padding: 0px;}
#app{margin:20px 10px;}
#app .nav{width:100%;}
#app .nav li{width: 50%;}   
#app .nav ul li .badge{margin-left: 10px; }
#app .input-group{width:100%;height:50px;padding: 20px 10px;}
#app .input{width:100%;height:50px;padding: 20px 10px;}
#app .ofolist{width:100%;padding: 20px 10px;} 
#app .ofolist li{padding: 0px 15px;}
#app .updatepart{height: 200px;}
#app .updatepart .input{width:100%;}
#app .updatepart .inputmargin{margin:20px 0px;}
#app .updatepart .input .btn-group button{width:50%;}
#app .alert{display:none;}
.img-middle{width: 100%;height: 100%;position: fixed;top: 0px;left: 0px;background-color: rgba(8, 8, 8, 0.5);z-index: 10;}
.img-middle img{margin: auto;background-size: 50%;top: 50%;position: fixed;left: 50%;transform: translate(-50%,-50%);}
#app .container .row div{margin-top:10px;margin-bottom:10px;}
#app .container .row .middle-text{text-align: center;}
#app .searchpart .page-header{margin:0px;}