body{margin: 0px;padding: 0px;}
#app .nav{width:100%;}
#app .nav li{width: 50%;}    
#app .input{width:100%;height:50px;padding: 20px 10px;}
#app .ofolist{width:100%;padding: 20px 10px;} 
#app .updatepart .input{width:100%;}
#app .updatepart .inputmargin{margin:20px 0px;}
#app .updatepart .input .btn-group button{width:50%;}