<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" id="viewport" content="width=device-width, initial-scale=1">
	<title>ofoplus</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/common.css">
</head>
<body>
	<div id="app">
		<div class="nav">
			<ul class="nav nav-tabs">
			  	<li id="search" role="presentation" class="active"><a href="#search" v-on:click="toggle()">Search</a></li>
			  	<li id="update" role="presentation"><a href="#add" v-on:click="toggle()">update</a></li>
			</ul>
		</div>
		<div class="searchpart" v-if="!ok">
			<div class="input">
			  	<input v-model="keyword" type="text" class="form-control" placeholder="ofonumber" aria-describedby="basic-addon1" v-on:keyup.enter="checkData">
			</div>
			<div class="ofolist">
			</div>
		</div>
		<div class="updatepart" v-if="ok">
			<div class="input">
			  	<input id="editnumber" type="text" v-model="number" class="form-control inputmargin" placeholder="ofonumber" aria-describedby="basic-addon1">
			  	<input id="editpwd" type="text" v-model="password" class="form-control inputmargin" placeholder="ofopassword" aria-describedby="basic-addon2">
			  	<div class="btn-group btn-group-justified inputmargin" role="group" aria-label="...">
					<button type="button" class="btn btn-default" v-on:click="updateData()">Commit</button>
 					<button type="button" class="btn btn-default" v-on:click="reset()">Reset</button>
				</div>
			</div>
		</div>
		
	</div>
</body>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="js/vue-resource.min.js"></script>
<script type="text/javascript" src="js/bmob-min.js"></script>
<script type="text/javascript" src="js/bmobSocketIo-min.js"></script>
<script type="text/javascript" src="resource/server.js"></script>
</html>
